# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Logs
logs/*.log

# Uploads
uploads/